<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Listado Carreras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="new-ingreso">Agregar Nueva Carrera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="puntajes">Puntajes por Escudería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="new-resultados">Resultado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abandono">Abandono</a>
                </li>
            </ul>
        </div>
    </div>
</nav><br>